<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.talelin.latticy.mapper.ImsContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.talelin.latticy.model.ImsContractDO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="contract_time" property="contractTime" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="client_id" property="clientId" />
        <result column="total_amount" property="totalAmount" />
        <result column="prepay_amount" property="prepayAmount" />
        <result column="actual_delivery_fee" property="actualDeliveryFee" />
        <result column="other_fee" property="otherFee" />
        <result column="payment_method" property="paymentMethod" />
        <result column="notes" property="notes" />
        <result column="payment_status" property="paymentStatus" />
        <result column="raw_cost" property="rawCost" />
        <result column="review_status" property="reviewStatus" />
        <result column="delivery_address" property="deliveryAddress" />
        <result column="shipping_cost" property="shippingCost" />
        <result column="transaction_fee" property="transactionFee" />
        <result column="terms_of_sale" property="termsOfSale" />
        <result column="insurance_cost" property="insuranceCost" />
        <result column="additional_cost" property="additionalCost" />
    </resultMap>
    <select id="selectWithFilter" resultType="io.github.talelin.latticy.model.ImsContractDO">
        SELECT * FROM ims_contract
        <where>
            <if test="params.owned_by != null">
                owned_by = #{params.owned_by}
            </if>
            <if test="params.PI_NO != null">
                AND PI_NO LIKE CONCAT('%',#{params.PI_NO},'%')
            </if>
            <if test="params.payment_status != null">
                AND payment_status IN
                <foreach collection="params.payment_status" item="status" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>
            <if test="params.review_status != null">
                AND review_status IN
                <foreach collection="params.review_status" item="rstatus" open="(" close=")" separator=",">
                    #{rstatus}
                </foreach>
            </if>
            <if test="params.payment_method != null">
                AND payment_method IN
                <foreach collection="params.payment_method" item="pmethod" open="(" close=")" separator=",">
                    #{pmethod}
                </foreach>
            </if>
            <if test="true == true">
                AND delete_time IS NULL
            </if>
        </where>
        <if test="params.sort != null">
            order by #{params.sort} #{params.order};
        </if>
    </select>


</mapper>
